.black{
	font-family: "GothamProBla", Arial, helvetica, sans-serif;
}

.bold{
	font-family: "GothamProBold", Arial, helvetica, sans-serif;
}

.medium{
	font-family: "GothamProMed", Arial, helvetica, sans-serif;
}

.light{
	font-family: "GothamProLight", Arial, helvetica, sans-serif;
}

.italic{
	font-family: "GothamProIt", Arial, helvetica, sans-serif;
}

.regular{
	font-family: "GothamProReg", Arial, helvetica, sans-serif;
}